.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;
}

.brand {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--primary-color);
}

.navitems {
    display: flex;
    gap: 3rem;
}

.btnSecondary {
    background-color: transparent;
    color: var(--dark-color);
    padding: 1rem 2rem;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1em;
}

.btnSecondary:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}