.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 5rem 0;
    margin: 10rem 0;
    background-color: var(--secondary-color);
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title>h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-color);
}

.title>p {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-tertiary);
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}